.as-banner{
  padding-left: 3%;
  padding-right: 3%;
  display: flex;
  height: 40px;
  justify-content: space-between;
  align-items: center;
  align-items: center;
  font-size: larger;
  margin-top: 20px;
  margin-bottom: 20px;
}

.as-banner-search{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 160px;
  height: 70px;
  text-decoration:none;
  color: black;
}

.as-banner-search :hover{
  text-decoration: underline;
}
