.as-searchBar{
  display: flex;
  height: 130px;
  justify-content: center;
  align-items: center;
  color : white;
  background: blue;
  align-items: center;
  font-size: larger;
  margin-top: 20px;
  margin-bottom: 20px;
}

.as-searchBar input{
  width: 88%;
  height: 30px;
}

.as-searchBar button {
  height: 35px;
  margin-left: 5px;
}