.as-videoCard{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 280px;
  height: 250px;
  margin: 7px;
  background:rgb(243, 240, 240);
  text-decoration: none;
  color: black;
  box-shadow: 3px 4px 4px 0px rgba(0,0,0,0.62);
  border-radius: 0px 0px 10px 10px;
}

.as-videoCard-info{
  flex:1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 100%;
  font-size: small;
  word-wrap: wrap;
  overflow-wrap: anywhere;
  

}


.as-videoCard-info-title{
  overflow-wrap: anywhere;
  max-lines: 1;
}